
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.form-container {
    width: 400px;
    min-height: 550px;
    padding: 50px 40px;
    background: #3a3a3a;
    border-radius: 30px;
    box-shadow:
        0 0 10px #00ffee,
        0 0 25px rgba(0, 255, 238, 0.5);
    text-align: center;
}

.form-container h2 {
    color: white;
    font-size: 42px;
    margin-bottom: 40px;
}

.input-box {
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #ffffff;
    outline: none;
    color: white;
    font-size: 14px;      /*  */
    padding: 10px 5px;
}

.input-box input::placeholder {
    color: #dcdcdc;
}

.input-box input:focus {
    border-bottom: 2px solid #00ffee;
    box-shadow: 0 6px 12px -8px #00ffee;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0px 1000px #3a3a3a inset;
    -webkit-text-fill-color: white;
    transition: background-color 5000s ease-in-out 0s;
}


.submit-btn {
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 30px;
    background: #00ffee;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow:
        0 0 10px #00ffee,
        0 0 25px #00ffee;
    transition: 0.3s;
    margin-top: 10px;
}

.submit-btn:hover {
    transform: scale(1.05);
    box-shadow:
        0 0 15px #00ffee,
        0 0 35px #00ffee;
}


                              /* Forgot Password */
.forgot-password {
    text-align: right;
    margin-top: -10px;
    margin-bottom: 20px;
}

.forgot-password a {
    color: #00ffee;
    text-decoration: none;
    font-size: 14px;
}

.forgot-password a:hover {
    text-decoration: underline;
}


                                /* Remember Me */
.remember-me {
    text-align: left;
    margin-bottom: 15px;
    color: white;
    font-size: 14px;
}

.remember-me input {
    margin-right: 5px;
}





                                 /* Sign Up Link */
.signup-link {
    margin-top: 30px;
    color: white;
    font-size: 14px;
}

.signup-link a {
    color: #00ffee;
    text-decoration: none;
    font-weight: bold;
}

.signup-link a:hover {
    text-decoration: underline;
}


                                           /* Password Visibility Toggle */
.password-box {
    position: relative;
}
.eye-icon {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    color: #ffffff;
    user-select: none;
    opacity: 0.8;
}

.eye-icon:hover {
    opacity: 1;
}

